body {
  background-image: url('/image/bellagio.jpg');
  height: 220px;
  background-size: cover;
  color: #2EFEF7;
}

.signup{
                margin-top: 350px;
            }

.background{
  height: 100%;
  background: rgba(255,255,255,0.5);
}